<link href="images/skin.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" /><style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #EEF2FB;
	
}
-->
</style>
<body>
<table width="100%" height="31" border="0" cellpadding="0" cellspacing="0" class="left_topbg" id="table2">
      <tr>
        <td height="31"><div class="titlebt">系统说明</div></td>
      </tr>
</table>
<br>
<br>
<div align="center">
<span class="left_bt" >欢迎使用视频设备管理系统，可以对系统进行维护和管理</span>
</div> 
</body>
